postfixRelay:
  # basic configuration
  hostname:
  networks:

  # default outbound relay
  defaultOutboundRelay:
    host:
    username:
    password:

  # transport
  transport:
    - pattern:
      target:
